<%- include("templates/header") %> 

<link rel="stylesheet" href="./css/about.css">
    
<body>
    <div class="about-container">
        <h1>Acerca de el presente proyecto</h1>
        <div class="container">
            <div class="box">
                <h2>Columna 1</h2>
                <p>El procesamiento de datos biológicos está en constante evolución sobre
                    nuestro mundo a de encontrar soluciones a problemas en organismos que pueden afectar al ser humano.
                     Con la aparición de nuevas tecnologías se empieza una gran recopilación de datos biológicos las cuales se encuentran en bases de datos.
                      Los datos suelen clasificarse en cuatro tipos que serían datos estructurales,datos funcionales, secuencias biológicas y bibliografías.
                Dada la situación actual de la pandemia de COVID-19 se hace necesario aportar en el estudio de organismos similares al SAR-COV-2.
                Por esta razón se trabajará con datos de la familia de los coronavirus conocida como coronaviridae
                 un total de 198 organismos. Para ellos se obtendrá como resultado distancias
                  entre organismos así como los árboles filogenéticos correspondientes. Todo esto en el contexto del proyecto de COVID de la Universidad Autónoma de Aguascalientes</p>
            </div>
            <div class="box">
                <h2>Columna 2</h2>
                <p>El procesamiento de datos biológicos está en constante evolución sobre
                    nuestro mundo a de encontrar soluciones a problemas en organismos que pueden afectar al ser humano.
                     Con la aparición de nuevas tecnologías se empieza una gran recopilación de datos biológicos las cuales se encuentran en bases de datos.
                      Los datos suelen clasificarse en cuatro tipos que serían datos estructurales,datos funcionales, secuencias biológicas y bibliografías.
                Dada la situación actual de la pandemia de COVID-19 se hace necesario aportar en el estudio de organismos similares al SAR-COV-2.
                Por esta razón se trabajará con datos de la familia de los coronavirus conocida como coronaviridae
                 un total de 198 organismos. Para ellos se obtendrá como resultado distancias
                  entre organismos así como los árboles filogenéticos correspondientes. Todo esto en el contexto del proyecto de COVID de la Universidad Autónoma de Aguascalientes</p>
            </div>
        </div>
            
    </div>
</body>
    
    
   

<%- include("templates/footer") %> 