<%- include("templates/header") %> 

<link rel="stylesheet" href="./css/helpcss.css">

<div class="Help-list">
    <h4>Ayuda</h4>
    <ul class="my-list">
        <li> 1. Obtener un cluster de algun organizmo en la pagina oficial del NCBI 
            al cual se puede acceder presionando el icono que esta en la parte
             inferior de la pagina de inicio. </li>
             <li>
                2. Se nececitan los archichivos de del modulo ftpdownloader-master. 
             </li>
             <li>
                3.  Fasta Counter v1.0
             </li>
             <li> 4. Best Hit E-Value Filter v2.0</li>
             <li> 5. Bidireccional Best Hit Parser v3.0</li>
    </ul>
   
</div>
  
    
    
        <img id="fondo" src="./img/19366.jpg"/>
      
   

<%- include("templates/footer") %> 