/* FONT FAMILY Poppins BY GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* FONT FAMILY Inter BY GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* ROOT */

.Help-list{
    padding-top: 100px;
}

h4 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.my-list {
    list-style-type: none;
    padding: 0;
}

.my-list li {
    text-decoration: none;
    background-color: #f9f9f9; /* Color de fondo de los elementos */
    margin: 5px 0; /* Espaciado entre elementos */
    padding: 10px; /* Relleno dentro de cada elemento */
    border: 1px solid #ddd; /* Borde alrededor de los elementos */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para cambios de color */
}

.my-list li:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el ratón por encima */
}
