<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/header.css">
    <title>UAA-PROT</title>
    <header id="encabezado">
        <a href="#" class="logo">Software UAA-PROT</a>
     <ul>
          <li><a href="#" class="active">Inicio</a></li>
          <li><a href="/acerca_de">Acerca de..</a></li>
          <li><a href="/ayuda">Ayuda</a></li>
          <li><a href="/contacto">Contacto</a></li>
     </ul>
    </header>
</head>
